<?xml version="1.0"?>
<model>
  <name>d455</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name></name>
    <email></email>
  </author>
  <description>Simulated Intel RealSense D455 depth camera for Gazebo Harmonic. Color (320x240 RGB @ 15fps, 90 deg HFOV) and depth (320x240 float32 @ 15fps, 87 deg HFOV) sensors matching D455 FOV and range specs.</description>
</model>
