<?xml version="1.0"?>
<model>
  <name>depot</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Rafi Abdullah</name>
    <email>rafi@openrobotics.org</email>
  </author>
  <author>
    <name>Louise Poubel</name>
    <email>louise@openrobotics.org</email>
  </author>
  <description>
    Fork of OpenRobotics Depot (Gazebo Fuel). BOXSET and crates are separate
    links so poses can be edited in SDF or moved in the Gazebo GUI.
  </description>
</model>
