<?xml version="1.0"?>
<model>
  <name>bq410</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name></name>
    <email></email>
  </author>
  <description>BQ-410 quadrotor with multicopter motor model plugins for PX4 SITL. Includes bq410_base airframe with four motor controllers. Motor layout: rotor 0/1 CW, rotor 2/3 CCW.</description>
</model>
